<h1>Sign Up</h1>

<%= form_for(@user) do |form| %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  Name: <br><%= form.text_field :name %><br>
  <%= form.submit %>
<% end %>