<h1>Event Description</h1>
<p><i>Event Organizer : <%= @event.creator.name%></i></p>
<p><%= @event.description %></p>
<small>Event date: <%= @event.date%></small>
<p><%= link_to 'BACK', root_path%></p>