<span><%= current_user.name%></span>
<%= link_to "Create Event", new_event_path%>
<%= link_to "Show my Invitations", user_path(current_user.id)%>
<span><%= link_to "log out", new_session_path, method: :delete, data: {confirm: "Are you sure you want to exit?"}%></span>